<?xml version="1.0" ?>
<robot name="$(arg robot_name)" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="robot_name" default="arm_1"/>
  
  <xacro:include filename="$(find dual_ur5)/urdf/ur5e_macro.xacro"/>
  <link name="world"/>

  <xacro:ur5e_arm prefix="$(arg robot_name)_" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur5e_arm>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control_$(arg robot_name)">
      <ros>
        <namespace>/$(arg robot_name)</namespace>
      </ros>
      <parameters>/home/abhinand/AutoMan_ws/src/dual_ur5/config/$(arg robot_name)_config.yaml</parameters>
      <robot_param>robot_description</robot_param>
      <robot_param_node>/$(arg robot_name)/robot_state_publisher</robot_param_node>
   </plugin>
  </gazebo>
</robot>